:root {
    --shadowHeight: 1000000px;
}
.topGrad {
    z-index: -101;
    width: 200%;
    position: absolute;
    top: 0px;
}
.topGrad.media{
    box-Shadow: 0px 0px 512px var(--shadowHeight) #335;
}
.topGrad.home{
    box-Shadow: 0px 0px 512px var(--shadowHeight) #333;
}
.topGrad.info{
    box-Shadow: 0px 0px 512px var(--shadowHeight) #533;
}
.topGrad.mediaTrans {
    -moz-transition: ease 10s;
    -webkit-transition: ease 10s;
    -ms-transition: ease 10s;
    -o-transition: ease 10s;
    transition: ease 10s;
    box-Shadow: 0px 0px 512px var(--shadowHeight) #335;
}
.topGrad.homeTrans {
    -moz-transition: ease 3s;
    -webkit-transition: ease 3s;
    -ms-transition: ease 3s;
    -o-transition: ease 3s;
    transition: ease 3s;
    box-Shadow: 0px 0px 512px var(--shadowHeight) #333;
}
.topGrad.infoTrans {
    -moz-transition: ease 3s;
    -webkit-transition: ease 3s;
    -ms-transition: ease 3s;
    -o-transition: ease 3s;
    transition: ease 3s;
    box-Shadow: 0px 0px 512px var(--shadowHeight) #533;
}

html,body {
    height: 100%;
}
#container {
    min-height: 100%;
    position: relative;
}

#bottomGrad{
    background-color: black;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -100;
    transition: ease 2s;
    box-shadow: 0px 0px 100px 50px #000;
}