:root {
    --shadowHeight: 5000px;
}
.topGrad {
    z-index: -101;
}
.topGrad.media{
    background-color: #335;
}
.topGrad.home{
    background-color: #333;
}
.topGrad.info{
    background-color: #533;
}
.topGrad.mediaTrans {
    -moz-transition: ease 3s;
    -webkit-transition: ease 3s;
    -ms-transition: ease 3s;
    -o-transition: ease 3s;
    transition: ease 3s;
    background-color: #335;
}
.topGrad.homeTrans {
    -moz-transition: ease 3s;
    -webkit-transition: ease 3s;
    -ms-transition: ease 3s;
    -o-transition: ease 3s;
    transition: ease 3s;
    background-color: #333;
}
.topGrad.infoTrans {
    -moz-transition: ease 3s;
    -webkit-transition: ease 3s;
    -ms-transition: ease 3s;
    -o-transition: ease 3s;
    transition: ease 3s;
    background-color: #533;
}

html,body {
    height: 100%;
}
#container {
    min-height: 100%;
    position: relative;
    padding: 1px;
}

#bottomGrad{
    background-color: black;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -100;
    box-shadow: 0px 0px 100px 50px #000;
}