
input {
    width: 200px;
}
#slideCanvas {
    position: fixed;
    left: -10px;
    top: -10px;
    z-index: -1;
    width: 105%;
    height: 105%;
    filter: blur(2px);
}

#fpCanvas {
    position: fixed;
    left: -10px;
    top: -10px;
    z-index: -1;
    width: 105%;
    height: 105%;
    filter: blur(2px);
}

#ad {
    
}

.pageHeader {
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
}

#subHeader {
    font-size: 18pt;
    padding-bottom: 10px;
}

.Banner {
    
}

#home {
    
}

#page {
    
}