.topGrad {
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
}
/*Header styles*/

header {
    margin: 0px;
    padding: 0px;
    height: 512px;
    background-color: #0002;
    border: solid 1px #0002;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
h1 a{
    text-shadow:
    3px 3px 0 #000,
   -4px -4px 0 #000,  
    4px -4px 0 #000,
    -4px 4px 0 #000,
     4px 4px 0 #000;
    margin: 0;
    text-decoration: none;
    color: white;
    background: none;
    font-size: 2em;
}
@media only screen and (max-width: 640px) {
    h1 a{
        font-size: 3em;
    }
}

h2 {
    text-shadow:
    3px 3px 0 #000,
   -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000;
    text-align: center;
    font-size: 3em;
    margin: 0;
}
@media only screen and (max-width: 640px) {
    h2{
        font-size: 4em;
    }
}

#sub {
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    text-align: center;
    font-size: 2em;
}
@media only screen and (max-width: 640px) {
    #sub{
        font-size: 2em;
    }
}
#logo {
    z-index: -50;
    position: absolute;
    display: block;
    margin-left: -280px;
    margin-right: auto;
    left: 50%;
}

header h1{
    vertical-align: text-bottom;
}

/*Header styles end*/

/*Nav bar styles*/
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
nav {
    position: relative;
    background: #0001;
    left: -5%;
    width: 106%;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.navi ul {
    font-size: 1.5em;
}
@media only screen and (max-width: 640px) {
    .navi ul {
        font-size: 1.5em;
    }
}


/*Nav bar styles end*/


footer {
    margin-bottom: -2em;
    padding-top: 2em;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
footer nav ul {
    
}
@media only screen and (max-width: 640px) {
    footer nav ul {
        font-size: 1em;
    }
}

a {
    text-decoration: none;
    color: white;
}



/*Media Page CSS*/

#smashHeader {
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    background-image: url(media/FalcomDance.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 7em;
}

/* Media Page END */


/* Some janky CSS things that might work alongside js or not */
#invImg {
    height: 90%;
    visibility: hidden;
}
#clock {
    z-index: 100;
    position: fixed;
    background-color: #000a;
    box-shadow: 0px 0px 20px 10px #000a;
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.body{
    margin-bottom: 6em;
}