
html {
    background-color: #97d;
    font-family: Arial, Helvetica, sans-serif;
}
html ::-webkit-scrollbar {
    width: 0 !important;
}

/*      TRANSITIONS                 */

.widthExpanse {
    width: 80% !important;
    padding: 1em !important;
}
.borderExpanse {
    border: 0px solid black !important;
}
.pageInitFinish {
    white-space: normal !important;
    overflow: auto !important;
}

/*          HEADER/FOOTER           */
header {
    text-align: center;
    overflow: inherit;
}

h1 {
    font-size: 4em;
    padding-left: 0px;
    margin-left: 0px;
}

header img {
    margin: auto;
    height: 25%;
    width: 25%;
    display: block;
}

header * {
    display: inline;
}

.headerNav {
    margin: auto;
}

.headerNav ul {
    list-style-type: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}

footer {
    height: 6em;
    position: relative;
}

.footerContainer {
    height: 4em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: inherit;
    width: 100%;
}

footer > div ul {
    list-style-type: none;
}

footer ul img {
    max-width: 2em;
}

footer div ul {
    margin: 0px;
    padding: 1em .5em .5em .5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer div ul li {
    margin: auto;
}

/*          BODY                    */
body {
    top: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

.pageContainer {
    overflow: hidden;
    overflow-x: hidden !important;
    margin: auto;
    padding: 1em 0px 6em 0px;
    border: 0em solid #0009;
    width: 0px;
    max-width: 1000px !important;
    background-color: #0009;
    white-space: nowrap;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    position: relative;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    min-width: 200%;
    right: 25%;
    border: 4pt solid #97d;
    background-color: #97d;
    position: relative;
}